@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: auto;
}

footer{
    color: #ffffff;
    text-align: center;
    background: #142d4c;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin: 0;
}

header{
    color: #ffffff;
    text-align: center;
    background: #142d4c;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

li{
    margin-bottom: 10px;
}

.computer-area{
    display: grid;
}

.computer-area > .square{
    padding-bottom: 100%;
    
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.homepage{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.information{
    padding-left: 15px;
}

.mainStage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10px;
    justify-content: space-around;
    
}

.play-area{
    display: grid;
    width: 45%;

    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.play-area > .square{
    padding-bottom: 100%;

    border-top: 1px solid black;
    border-right: 1px solid black;
}

.square{
    margin: none;
    border-width: 1px thin black;
}

.side-bar{
    display: grid;
    flex-flow: wrap;
    width: 45%;
}

#p2Info{
    opacity: 0
}

/* Typing Effect */
.container{
    display: inline-block;
}

.title{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    position: relative;
    font-size: 6rem;
    overflow: hidden;
    border-right: .10em solid #000000;
    white-space: nowrap;
    width: 0;
    animation:
        typing 2s steps(20, end) forwards,
        blink .8s infinite
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink{
    from { border-color: transparent } 
    to { border-color: #000000; }
}

/* Modal Styling */

.modal-title{
    padding-bottom: 15px
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}

#modal{
    display: none;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-text{
    color: #000000;
	background-color: #ffffff;
    text-align: left;
	height: 100%;
    max-height: 250px;
    width: 50%;
	max-width: 500px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 100%;
}

#modal-footer{
	text-align: right;
}

#openModal{
    margin-left: 50px;
    align-self: center;
}

button{
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}