.container{
    display: flex;
    flex-direction: row;
}

/* Tablet size */
@media screen and (max-width: 800px){
    body{
        background-color: blue;
    }
}

/* Phone Size */
@media screen and (max-width: 500px){
    body{
        background-color: green;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
}