body{
    margin: auto;
    text-align: center;
    width: 99%;
}

footer{
    color: #ffffff;
    background: #142d4c;
}

h1{
    font-size: 3rem;
    margin: 0;
}

header{
    color: #ffffff;
    background: #142d4c;
}

.mainStage{
    display: flex;
    justify-content: space-around;
    background: #ececec;
}

.play-area{
    display: grid;
    background: #ececec;
    width: 45%;
}

.play-area > .square{
    padding-bottom: 45%;
}

.computer-area{
    display: grid;
    background: #ececec;
}

.computer-area > .square{
    padding-bottom: 45%;
}

.square{
    border-style: solid;
    border-width: 1px thin black;
}

.side-bar{
    display: grid;
    flex-flow: wrap;
    background: #9fd3c7;
    width: 45%;
}
